@media screen and (max-width:991px) {

    .header {
        position: relative;
        padding: 10px 0;
    }

    .mob_menu {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        width: 100%;
        text-transform: uppercase;
        overflow: auto;
        padding: 0;
    }

    .mob_menu li {
        border-top: 1px solid #e6e6e6;
    }

    .mob_menu li a {
        display: block;
        padding: 10px 20px;
        font-size: 17px;
        color: #0c3246;
        font-weight: 600;
    }

    .mob_sub_menu {
        padding: 0;
        text-transform: capitalize;
        border-top: 1px solid #e6e6e6;

    }

    .mob_sub_menu li {
        padding-left: 15px;
    }

    .mob_menu li i {
        position: absolute;
        right: 10px;
    }

   .owl-nav{
    display: none !important;
   }
  

    .section_title h2 {
        font-size: calc(1.375rem + 1.5vw);
    }

   

    .about3 {
        padding: 0 0 70px 0 !important;
    }

    .team {
        padding: 0 0 70px 0 !important;
    }

    .info h1 {
        font-size: 3.2rem;
    }

    .mob1 {
        padding: 1rem 0 1rem 0;
        border: none;
    }

    .mob {
        padding: 1rem 0 1rem 0;
        border: none;
    }

    .p {
        border: none !important;
    }

    

    .btn3 {
        margin-bottom: 20px;
    }
    .mob{
        padding: 0;
        border-right: none !important;
    }
    .mob1{
        padding: 0 !important;
    }
 
}


@media screen and (min-width:992px) {
    .client_text h2 {
        font-size: 3.1rem;
    }

    .footer_m h4 {
        width: 75%;
    }

    .pro {
        margin-left: 16.66%;
    }
    

}




@keyframes pulse-boder {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) scale(1.5);
        opacity: 0;
    }
}